
/**********************
General styling options
***********************/

body {
  background-color: #FFE4E1;
  text-align: center;

}


h1 {
  color: red;
  font-family:  'Archivo Black', sans-serif;
  margin-top: 100px;
}
#heading {
	text-align: center;
}
/**********************
Table Background
***********************/

.container {
  margin-top: 50px
}

div {

    width: 500px;
    height: 500px;
    padding: 35px;
    margin:0px auto;
    border-radius: 15px;

}


/**********************
Seating Tables
***********************/

#flex-container {
  background-color: white;
  width: 500px;
  height: 500px;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-item {
  border-radius: 100px;
  height: 35px;
  width: 35px;
  margin: 20px 30px 0 30px;

}

.circle {
	background-color: lightgray;
  color: #ADAAAA;
	text-align: center;
	font-family: 'Roboto Mono', monospace;
}

.circle:hover {
	background-color: #ADAAAA;
  color: white;
	cursor: pointer;
}


/**********************
Reservation information prompt
***********************/

form {
	background-color: white;
	text-align: left;
	width: 65%;
	padding-left: 2%;
	padding-bottom: 1%;
	font-family: 'Roboto Mono', monospace;
	margin-left: 15.5%;
	margin-top: -46%;
	display: none;
	z-index: 2;
	position: absolute;
	padding-bottom: 8%;
	box-shadow: 0px 0px 31px 1px rgba(0,0,0,0.3);
}

form p {
	font-family: 'Roboto Mono', monospace;
}

input {
	display: block;
	margin-bottom: 2%;
}

input[type=text] {
	border: none;
	border-bottom: 1px solid black;
	padding: 1%;
	font-family: 'Roboto Mono', monospace;
	width: 92%;
	margin-bottom: 5%;
	font-size: 14px;
}

input[type=submit] {
  font-family: 'Roboto Mono', monospace;
  background-color: #008000;
  color: white;
	width: 94%;

	border-style: none;
	font-size: 14px;
	padding: 15px;
	box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.3);
}

#inputs {
	text-align: left;
}



/**********************
Seating Tables Marked
***********************/

i {
	float: right;
	padding-right: 3%;
	padding-top: 3%;
	color: #CCC;
}

i:hover {
	cursor: pointer;
	color: black;
}

.reserved {
	background-color: gray;
}

.reserved:hover {
	background-color: gray;
	cursor: not-allowed;
}
