
/**********************
General styling options
***********************/

body {
  background-color: #dfcccc;
  text-align: center;

}


h1 {
  color: #E34E45;
;
  font-family:  'Archivo Black', sans-serif;
  margin-top: 100px;
}
#heading p {
	text-align: center;
  font-family: 'Roboto Mono', monospace;
}


/**********************
Table Background
***********************/

.container {
  margin-top: 50px
}

/*div.box {
this div is not working...
    width: 500px;
    height: 500px;
    padding: 35px;
    margin:0px auto;
    border-radius: 15px;

}*/


/**********************
Seating Tables
***********************/

.flex-container {
  background-color: white;
  width: 500px;
  height: 500px;
  margin: auto;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 2%;


}

.flex-item {
  border-radius: 100px;
  text-align: center;
  margin: 20px 30px 0 30px;
  text-align: center;

}

.circle {
	background-color: lightgray;
  color: #ADAAAA;
	font-family: 'Roboto Mono', monospace;

  height: 100px;
  width: 100px;
  text-align: center;

}

.circle:hover {
	background-color: #ADAAAA;
  color: white;
	cursor: pointer;
  text-align: center;

}


/**********************
Reservation information prompt
***********************/

.box {
	background-color: blue;
	text-align: left;
	width: 500px;
  height: 350px;

	font-family: 'Roboto Mono', monospace;
	margin-left: 15.5%;
	margin-top: -46%;

	display: none;
	z-index: 2;

	position: absolute;
	padding-bottom: 2%;
  padding-left: 2%;
  padding-bottom: 1%;
	box-shadow: 0px 0px 31px 1px rgba(0,0,0,0.3);
}

form p {
	font-family: 'Roboto Mono', monospace;
}

input {
	display: block;
	margin-bottom: 2%;
}

input[type=text] {
	border: none;
	border-bottom: 1px solid black;
	padding: 1%;
	font-family: 'Roboto Mono', monospace;
	width: 92%;
	margin-bottom: 5%;
	font-size: 14px;
}

input[type=submit] {
  font-family: 'Roboto Mono', monospace;
  background-color: #008000;
  color: white;
	width: 94%;

	border-style: none;
	font-size: 14px;
	padding: 15px;
	box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.3);
}

#inputs {
	text-align: left;
}



/**********************
Seating Tables Marked
***********************/

i {
	float: right;
	padding-right: 3%;
	padding-top: 3%;
	color: #CCC;
}

i:hover {
	cursor: pointer;
	color: black;
}

.reserved {
	background-color: gray;
}

.reserved:hover {
	background-color: gray;
	cursor: not-allowed;
}


/**********************
Screen breaking
***********************/

@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }
}
